* {padding: 0; margin: 0;}
li {list-style: none;}
a {text-decoration: none;
color: black;}

/* ********************************* */
/* 포인트 #F55050 */
/* font-family: 'NotoSansKR'; */
/* font-family: 'Anton';  영문용 */
/* font-family: 'Black Han Sans';  한글용 */
/* font-family: 'Sunflower'; 로고 TXT용 */
/* FD8A8A */





body, html {
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}



.menu_sht {display: none;}
.lnb {display: none;}


/* header ======================= */
.header {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 140px;
  font-family: 'Noto Sans KR', sans-serif;
}


/* title ======================= */
.title p {
  width: 100%;
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  font-family: 'Oswald';
}


/* more_bttn ======================= */
.more_bttn {
  position: absolute;
  right: 15px;
  top: 5px;
  background-color: #FD8A8A;
  color: #fff;
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
.more_bttn a{
  display: block;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
}
.more_bttn:hover {
  scale: 1.1;
}





/* gnb */
.gnb {
  position: relative;
  width: 100%;
  height: 35px;
  font-size: 10px;
  background-color: #eee;
}
.gnb_box {
  position: absolute;
  z-index: 22;
  top: 5px;
  right: 5px;
}
.gnb_top {
  width: 70px;
  height: 35px;
  line-height: 20px;
  text-align: center;
  float: left;
}
.gnb_top a {
  color: #777;
  display: block;
}
.login_box:hover a,
.language_box:hover a {
  scale: 1.1;
  font-weight: bold;
  color: #000;
}
.login_box:hover i {
  scale: 1.1;
  font-weight: bold;
  color: dodgerblue
}
.language_box:hover i {
  scale: 1.1;
  font-weight: bold;
  color: blue;
}



/* logo */
.logo {
  position: relative;
  width: 70%;
  z-index: 22;
  height: 115px;
  margin-right: 30%;
  margin: 0 auto;
}
.logo_subBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 180px;
  height: 100px;
}
.logo_box {
  position: relative;
  text-align: center;
  font-family: 'Sunflower';
  box-sizing: border-box;
  color: #F55050;
  float: left;
  letter-spacing: -2px;
}
.logo_box h1 {
  width: 100%;
  height: 115px;
  line-height: 115px;
  font-size: 38px;
}
.logo_box_img {
  width: 50px;
  height: 115px;
  float: left;
  padding-left: 5px;
  padding-top: 35px;
  box-sizing: border-box;
}
.logo_box_img img {
  width: 100%;
  height: auto;
  display: block;
}





/* nav_mobile ======================= */
#mobile_menu_chk {display: none;}

#mobile_menu_chk:checked ~ .label_ham1 {
  display: none;
}
#mobile_menu_chk:checked ~ .label_ham2 {
  display: block;
}

#mobile_menu_chk ~ .label_ham2 {
  display: none;
}
#mobile_menu_chk ~ .label_ham1 {
  display: block;
}

#mobile_menu_chk:checked ~ .ham_menu_sheet1 {
  display: block;
}
#mobile_menu_chk ~ .ham_menu_sheet1 {
  display: none;
}
.ham_menu_sheet1:checked {display: none;}



.nav_mobile {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ham_logo {
  width: 60px;
  height: 60px;
  margin: 8px auto 10px;
}
.ham_logo img {
  width: 100%;
  height: auto;
  display: block;
}
.la_hm {
  position: absolute;
  top: 70px;
  left: 20px;
  text-align: left;
  font-size: 28px;
  
}
.ham_menu_sheet {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
}

.ham_menu {
  width: 100%;
  height: 45px;
  font-weight: bold;
  float: left;
}
.ham_menu span {
  width: 50%;
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}
.span_2 {
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box;
}

.ham_X {
  width: 100%;
  height: 65px;
  line-height: 65px;
  position: absolute;
  top: 10px;
  right: 0;
  border: 0;
  background-color:transparent;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  border-bottom: 1px solid #ccc;
  padding-right: 15px;
  box-sizing: border-box;
}
.ham_bar {
  display: block;
  position: sticky;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
  width: 2%;
  height: 120px;
  border-left: 1px solid #eee;
}
.ham_foot {
  width: 48%;
  height: 140px;
  margin-top: 20px;
  padding-left: 15px;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  float: left;
}

.ham_sns {
  width: 48%;
  height: 180px;
  float: right;
  line-height: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  /* border-left: 1px solid #ccc; */
}


.ham_sns h3 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  padding-left: 20px;
  box-sizing: border-box;
}
.ham_sns_total {
  width: 50px;
  height: 50px;
  padding: 2%;
  padding-bottom: 15px;
  float: left;
}
.ham_sns_total img {
  width: 100%;
  height: auto;
  display: block;
} 
.ham_foot li {
  font-size: 10px;
  line-height: 25px;
}
.ham_foot li:nth-child(1),
.ham_foot li:nth-child(2) {
  font-size: 14px;
  }
.ham_foot li:nth-child(2) {
  margin-bottom: 15px;
}

.span_bttn{
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.ham_box_box {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 100px;
  border-top: 1px solid #ccc;
}
.ham_box_box p {
  padding: 30px 15px;
  line-height: 30px;
  box-sizing: border-box;
}








/* event_banner */

.event_box {
  width: 100%;
}
.event_title {
  position: absolute;
  z-index: 50;
  top: 155px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}
.event_title h1 {
  color: #fff;
  width: 140px;
  margin: 0 auto;
  background-color: #FD8A8A;
}
.event_slickMenu {
  position: relative;
  width: 100%;
  height: 360px;
  margin-top: 50px;
}
.event_sheet {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
}
.event_sheet img,
.eve_menu img {
  width: 100%;
  height: auto;
  display: block;
}

.slick-list {
  position: relative;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  padding-top: 15px;
  margin-top: 40px;

}
.slick-arrow {
  font-size: 0;
  border: 0;
  visibility: hidden;
}
.slick-slide {
  padding: 2px;
  box-sizing: border-box;
  margin-top: 20px;

}
.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  width: 170px;
  height: 20px;
  padding-top: 10px;
  padding-left: 15px;
}
.slick-dots button{
  width: 10px;
  height: 10px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #ffd2d2;
  float: left;
  display: inline-block;
}
.slick-dots .slick-active button{
  background-color: #F55050;
}
.slick-center img {
  scale: 1.5;
}

.top {
  position: absolute;
  top: -105px;
  right: 5px;
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  background-color: #eee;
  animation-name: hide_ani;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}






@keyframes hide_ani {
  0% {opacity: 0.3;}
  100% {opacity: 1;}
}



/* footer */
.footer_box {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: 15px;
  font-family: 'Noto Sans KR', sans-serif;
}
.foot_top_txt {
  display: flex;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ccc;
}

.foot_top_txt li {
  font-size: 12px;
  text-align: center;
}
.foot_top_txt li:hover {
  scale: 1.03;
  font-weight: bold;
}
.foot_top_txt li:first-child a {
  color: red;
}
.foot_top_txt li:nth-child(2),
.foot_top_txt li:nth-child(4) {
  height: 10px;
  border-right: 1px solid #000;
  margin: 1% 2%;
}
.foot_top_txt li:nth-child(1) {
  width: 30%;
  color: red;
  margin-bottom: 15px;
}
.foot_top_txt li:nth-child(3) {
  width: 15%;
  margin-bottom: 15px;
}
.foot_top_txt li:nth-child(5) {
  width: 46%;
  margin-right: 0;
  margin-bottom: 15px;
}


.foot_text_box {
  position: absolute;
  top: 45px;
  width: 68%;
  height: 200px;
  margin-right: 1%;
  float: left;
  font-size: 12px;
  padding: 2%;
  box-sizing: border-box;
}

.foot_text_box ul li:nth-child(3),
.foot_text_box ul li:nth-child(7) {
  display: none;
}

.foot_text_box ul li:first-child {
  padding-top: 0;
}
.foot_text_box ul li:nth-child(4),
.foot_text_box ul li:nth-child(5) {
  font-size: 16px;
  font-weight: bold;
}

.foot_text_box ul li {
  padding: 5px 0;
}
.footer_box {
  position: relative;
}
.foot_select {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 150px;
  height: 30px;
}
.foot_select select{
  display: inline-block;
  width: 150px;
  height: 25px;
  margin-bottom: 5px;
  text-align: center;
  outline: none;
  border: 1px solid #ccc;
  font-size: 12px;
}
.foot_select option{
  text-align: center;
}










/* ========================================= */
/* ========================================= */
/* ========================================= */
@media all and (min-width:601px) {
  .logo {
    width: 210px;
  }
  .more_bttn {
    top: 15px;
    right: 30px;
  }
  .title p {font-size: 28px;}
  .tltle h3 {font-size: 14px;}




  .ham_logo {
    margin: 8px auto 50px;
  }
  .ham_menu_sheet {
    height: 100vh;
  }
  .ham_menu {
    height: 80px;
  }
  .ham_menu span {
    height: 80px;
    line-height: 80px;
  }
  .ham_box_box {
    margin-top: 500px;
  }
  .ham_bar {
    display: block;
    border-left: 1px solid #eee;
    top: 650px;
  }
  .ham_sns {
    border: none;
    padding: 0;
    height: 295px;
  }
  .ham_foot li:nth-child(1),
  .ham_foot li:nth-child(2) {
    font-size: 22px;
  }
  .ham_foot li {
    line-height: 40px;
  }
  .ham_box_box {
    margin: 0;
    position: absolute;
    bottom: 0;
    height: 120px;
  }
  .ham_5 span {
    height: 110px;
  }
  .ham_5  {
    height: 110px;
    margin-bottom: 30px;
  }


  .la_hm {
    font-size: 30px;
    top: 66px;
    left: 15px;
    margin-left: 10px;
  }



  


  .event_slickMenu {
    height: 500px;
  }
  .slick-list {
    height: 380px;
    margin-top: 35px;
  }
  .slick-slide {
    margin-top: 45px;
  }
  .slick-center img {
    scale: 1.5;
  }
  .slick-dots {
    bottom: 50px;
  }
  .eve_menu:hover {
    background-image: none;
  }
  .eve_menu:hover img {
    z-index: 1;
    opacity: 1;
  }



  
  .foot_top {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 15px;
  }

  .foot_top_txt {
    width: 50%;
    order: 1;
    padding: 5px 0;
    font-size: 12px;
    box-sizing: border-box;
    border-bottom: none;
    letter-spacing: -0.5px;
  }
  .foot_text_box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
  }
  
  .foot_text_box ul li {
    padding: 0;
  }
  .foot_text_box ul li:nth-child(1),
  .foot_text_box ul li:nth-child(2) {
    width: 100%;
    height: 30px;
  }
  .foot_text_box ul li:nth-child(2) {
  }
  .foot_text_box ul li:nth-child(3),
  .foot_text_box ul li:nth-child(7) {
    display: block;
  }
  .foot_text_box ul li:nth-child(4) {
    margin-top: 10px;
  }
  .foot_text_box ul li:nth-child(5) {
    margin-bottom: 10px;
  }
  .foot_text_box ul li:nth-child(2),
  .foot_text_box ul li:nth-child(6) {
    display: none;
  }


  .foot_select {
    right: 29px;
    width: 50%;
    top: 10px;
    right: -10px;
  }
  .foot_select select {
    font-size: 10px;
    width: 30%;
  }

}

@media all and (min-width:768px) {
  .foot_top_txt {
    letter-spacing: 1px;
  }
}





/* ========================================= */
/* ========================================= */
/* ========================================= */
@media all and (min-width:1024px) {
  .nav_mobile {
    display: none;
  }
  .btn_mogile {display: none;}
  .btn_PC {display: block;}
  .wrap {
    position: relative;
  }
  .header {
    width: 100%;
    height: 200px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }


  




  .top_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 30px;
  }
  .gnb {
    height: 35px;
    font-size: 12px;
  }
  .gnb_top {
    width: 70px;
    height: 35px;
    line-height: 30px;
    font-weight: bold;
  }
  .gnb_box {
    position: relative;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    top: 0;
  }
  .title p {
    width: 250px;
    font-size: 36px;
  }

  
  .tit p {
    width: 100px;
    margin: 0;
  }

  .more_bttn a{
    display: block;
  }
  .footer{
    width: 100%;
    margin: 0 auto;
  }
  
  .tit {
    z-index: 99;
  }







  .event_banner {
    width: 1274px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
  }
  .event_slickMenu {
    height: 700px;
  }
  .event_title {
    top: 261px;
  }
  .eve_menu {
    position: relative;
  }
  .eve_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: pink;
    background-size: cover;
    background-repeat: no-repeat;
  }



  .eve_menu:hover {
    position: relative;
    animation-name: eve_ani;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
  }

  @keyframes eve_ani {
    0% {background-image: url(./back_img/stamp1_PC1.png); opacity: 1;}
    50% {background-image: url(./back_img/stamp1_PC1.png); opacity: 1;}
    100% {background-image: url(./back_img/stamp1_PC1.png); opacity: 1;}
  }
  .eve_menu:hover img {
    z-index: -1;
    opacity: 0;
  }
  .event_menu1:hover {
    position: relative;
    z-index: 9;
    background-image: url(./back_img/stamp2.png);
  }
  .event_menu1:hover img {
    opacity: 0.8;
  }
  .event_menu1:hover img {
    z-index: 10;
    opacity: 1;
  }
  .slick-dots {
    width: 260px;
    bottom: 90px;
  }
  .slick-dots button {
    width: 20px;
    height: 20px;
  }
  .slick-list {
    height: 700px;
    margin-top: 50px;
  }
  .slick-center {
    position: relative;
    z-index: 10;
  }
  .slick-center img {
    scale: 1.2;
    z-index: 10;
  }

  .top {
    position: fixed;
    right: 220px;
    top: 72%;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border-radius: 50%;
    animation-name: hide_ani;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }








  .logo {
    margin-top: 20px;
  }
  
  .lnb {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .main_menu {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  /* menu_box  */
  .menu_box ul {
    width: 1000px;
    margin: 0 auto;
  }
  .menu_box ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu_box ul li {
    width: 20%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    
  }
  .menu_box ul li a {
    color: #000;
    display: block;
    font-weight: bold;
  }
  
  
  
  
  .main_menu .main_sheet {
    position: absolute;
    top: 50px; left: 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
  }
  .main_menu .main_sheet ul {
    width: 40%;
    height: 300px;
    float: left;
  }
  .main_menu .sheet_outer {
    width: 1274px;
    margin: 0 auto;
  }
  .main_menu .sheet_outer ul {
    padding: 20px 40px;
    line-height: 40px;
    font-size: 14px;
    box-sizing: border-box;
  }
  .main_menu .sheet_outer ul li:hover a{
    font-size: 15px;
    font-weight: bold;
  }
  
  .main_menu .name {
    position: relative;
    width: 30%;
    height: 300px;
    float: left;
  }
  .main_menu .name h1 {
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Anton';
    letter-spacing: 2px;
  }
  
  
  .main_menu .sheet_box1 {display: none;}
  .main_menu .sheet_box2 {display: none;}
  .main_menu .sheet_box3 {display: none;}
  .main_menu .sheet_box4 {display: none;}
  .main_menu .sheet_box5 {display: none;}
  
  .main_menu .sheet_box3 ul,
  .main_menu .sheet_box4 ul {
    width: 20%;
  }
  
  
  
  .main_menu .menu_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 220px;
    height: 250px;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .main_menu .menu_img img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  
  /* eve_box */
  .main_menu .eve_box {
    position: relative;
    width: 30%;
    height: 300px;
    float: left;
  }
  .main_menu .eve_outer {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
  }
  .main_menu .eve_outer img {
    width: 100%;
    height: auto;
    display: block;
  }
  .menu_fix {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
  }
  .menu_fix a {
    color: #000 !important;
    font-size: 14px;
    font-weight: bold;
    }
  }





@media all and (min-width:1274px) {
  .header {
    width: 100%;
  }
  .menu_box ul {
    width: 1274px;
  }
  .menu_fix {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .top_box {
    width: 160px;
  }
  .gnb_box {
    width: 1274px;
    margin: 0 auto;
  }
  .language_box {
    float: right;
  }
  .sheet_tap {
    width: 1274px;
  }
  .footer{
    width: 1274px;
    height: 250px;
    margin: 0 auto;
  }
  .footer_box {
    width: 1274px;
  }
}