* {padding: 0; margin: 0;}
li {list-style: none;}
a {text-decoration: none;
color: black;}

/* ********************************* */
/* 포인트 #F55050 */
/* font-family: 'NotoSansKR'; */
/* font-family: 'Anton';  영문용 */
/* font-family: 'Black Han Sans';  한글용 */
/* font-family: 'Sunflower'; 로고 TXT용 */
/* FD8A8A */





body, html {
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;

}
.item_banner_tab1 {display: none;}
.contribute_box_tab {display: none;}
.news_text li:nth-child(8) {display: none;}
.news_text li:nth-child(9) {display: none;}
.news_text li:last-child {display: none;}
.nav_PC {display: none;}
.item_hover {display: none;}
.CF_box3, .CF_box4{display: none;}
.btn_mogile {display: block;}
.btn_PC {display: none;}


/* header ======================= */
.header {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 140px;
  font-family: 'NotoSansKR';

}

/* title ======================= */
.title p {
  width: 100%;
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  font-family: 'NotoSansKR';
}
.new_product_title_mobile {
  margin-bottom: -65px;
}
.new_product_title_mobile p {
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Anton';
  font-size: 30px;
  letter-spacing: 4px;
}
.new_product_title_mobile h5 {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'NotoSansKR';
  text-align: center;
  font-weight: normal;
}
.item_box_title {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.item_box_title p {
  width: 220px;
  margin: 0 auto;
  font-family: "Font Awesome 5 Free";
  padding-bottom: 10px;
  font-size: 25px;
  font-family: 'Anton';
  letter-spacing: 3px;
  text-align: center;
}
.item_box_title h3,
.CF_title h3 {
  width: 220px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.CF_title h3 {
  margin-bottom: 25px;
  font-weight: normal;
}

.CF_title {
  position: relative;
}

.CF_title p {
  width: 120px;
  height: 40px;
  margin: 50px auto 0;
  font-family: 'Anton';
  letter-spacing: 3px;
}
.CF_title i{
  background-color: lightyellow;
}
.news_title {
  width: 100%;
  height: 40px;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-bottom: 15px;
}
.news_title p {
  width: 170px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Anton';
  letter-spacing: 3px;
}

.news_title i {
  color: red;
  background-color: yellow;
  border-radius: 50%;
}






/* more_bttn ======================= */
.more_bttn {
  position: absolute;
  right: 15px;
  top: 5px;
  background-color: #FD8A8A;
  color: #fff;
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
.more_bttn a{
  display: block;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
}
.more_bttn:hover {
  scale: 1.1;
}


.item_more {
  right: 15px;
  top: 5px;
  font-size: 10px;
}
.news_more {
  top: 5px;
}



/* gnb */
.gnb {
  position: relative;
  width: 100%;
  height: 25px;
  font-size: 10px;
  background-color: #eee;
}
.gnb_box {
  position: absolute;
  z-index: 22;
  top: 5px;
  right: 5px;
}
.gnb_top {
  width: 70px;
  height: 20px;
  text-align: center;
  float: left;
}
.gnb_top a {
  color: #777;
  display: block;
}
.login_box:hover a,
.language_box:hover a {
  scale: 1.1;
  font-weight: bold;
  color: #000;
}
.login_box:hover i {
  scale: 1.1;
  font-weight: bold;
  color: dodgerblue
}
.language_box:hover i {
  scale: 1.1;
  font-weight: bold;
  color: blue;
}



/* logo */
.logo {
  position: relative;
  width: 70%;
  z-index: 22;
  height: 115px;
  margin-right: 30%;
  margin: 0 auto;
}
.logo_subBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 180px;
  height: 100px;
}
.logo_box {
  position: relative;
  text-align: center;
  font-family: 'Sunflower';
  box-sizing: border-box;
  color: #F55050;
  float: left;
  letter-spacing: -2px;
}
.logo_box h1 {
  width: 100%;
  height: 115px;
  line-height: 115px;
  font-size: 38px;
}
.logo_box_img {
  width: 50px;
  height: 115px;
  float: left;
  padding-left: 5px;
  padding-top: 35px;
  box-sizing: border-box;
}
.logo_box_img img {
  width: 100%;
  height: auto;
  display: block;
}



/* nav_mobile ======================= */
#mobile_menu_chk {display: none;}

#mobile_menu_chk:checked ~ .label_ham1 {
  display: none;
}
#mobile_menu_chk:checked ~ .label_ham2 {
  display: block;
}

#mobile_menu_chk ~ .label_ham2 {
  display: none;
}
#mobile_menu_chk ~ .label_ham1 {
  display: block;
}

#mobile_menu_chk:checked ~ .ham_menu_sheet1 {
  display: block;
}
#mobile_menu_chk ~ .ham_menu_sheet1 {
  display: none;
}
.ham_menu_sheet1:checked {display: none;}



.nav_mobile {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ham_logo {
  width: 60px;
  height: 60px;
  margin: 8px auto 30px;
}
.ham_logo img {
  width: 100%;
  height: auto;
  display: block;
}
.la_hm {
  position: absolute;
  top: 55px;
  left: 20px;
  text-align: left;
  font-size: 28px;
  
}
.ham_menu_sheet {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.99);
  box-sizing: border-box;
}

.ham_menu {
  width: 100%;
  height: 60px;
  font-weight: bold;
  line-height: 65px;
  float: left;
}
.ham_menu span {
  width: 50%;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}
.span_2 {
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box;
}

.ham_X {
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0;
  border: 0;
  background-color:transparent;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  border-bottom: 1px solid #ccc;
  padding-right: 15px;
  box-sizing: border-box;
}
.ham_bar {
  display: block;
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
  width: 2%;
  height: 200px;
  border-left: 1px solid #eee;
}
.ham_foot {
  width: 48%;
  height: 140px;
  margin-top: 80px;
  padding-left: 15px;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  float: left;
}

.ham_sns {
  width: 48%;
  height: 180px;
  float: right;
  line-height: 20px;
  margin-top: 70px;
  box-sizing: border-box;
  /* border-left: 1px solid #ccc; */
}


.ham_sns h3 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  padding-left: 20px;
  box-sizing: border-box;
}
.ham_sns_total {
  width: 50px;
  height: 50px;
  padding: 2%;
  padding-bottom: 15px;
  float: left;
}
.ham_sns_total img {
  width: 100%;
  height: auto;
  display: block;
} 
.ham_foot li {
  font-size: 10px;
  line-height: 25px;
}
.ham_foot li:nth-child(1),
.ham_foot li:nth-child(2) {
  font-size: 14px;
  }
.ham_foot li:nth-child(2) {
  margin-bottom: 15px;
}

.span_bttn{
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.ham_box_box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: 1px solid #ccc;
}
.ham_box_box p {
  padding: 30px 15px;
  line-height: 30px;
  box-sizing: border-box;
}







/* visual_main */
.visual_main {
  width: 100%;
  float: left;
}
.visual_main_box {
  position: relative;
}
.visual_main_box video {
  width: 100%;
  height: auto;
  display: block;
}
.visual_main {
  overflow: hidden;
}
.visual_main video {
  scale: 1.36;
}
.visual_text {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.visual_text a {
  color: #bbb;
  display: block;
}
.visual_text:hover {
  background-color: rgba(255, 255, 255, 0.8);
  animation-name: updown;
  animation-duration: 1.3s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}
.visual_text:hover a {
  color: #000;
  font-weight: bold;
}

@keyframes updown {

  0% {bottom: 5px; scale: 1;}
  50% {bottom: 10px; opacity: 0.8; scale: 1.1;}
  100% {bottom: 5px; scale: 1;}
/* 
  0% {right: 5px;
    bottom: 5px;}
  5% {right: 5.8px;
    bottom: 4.3px;}
  9% {right: 6.5px;
    bottom: 3.5px;}
  14% {right: 7.3px;
    bottom: 2.8px;}
  18% {right: 8px;
    bottom: 2px;}
  23% {right: 8.8px;
    bottom: 1.3px;}
  27% {right: 9.5px;
    bottom: 0.5px;}
  31% {right: 10.3px;
      bottom: 1.3px;}
  36% {right: 11px;
    bottom: 2px;}
  40% {right: 11.8px;
      bottom: 2.8px;}
  45% {right: 12.5px;
    bottom: 3.5px;}
  49% {right: 13.2px;
    bottom: 4.3px;}
  54% {right: 14px;
    bottom: 5px;}
  58% {right: 13.3px;
    bottom: 5.8px;}
  63% {right: 12.5px;
    bottom: 6.5px;}
  67% {right: 13.3px;
    bottom: 7.3px;}
  72% {right: 11px;
    bottom: 8px;}
  76% {right: 11.8px;
    bottom: 8.8px;}
  81% {right: 9.5px;
    bottom: 9.5px;}
  85% {right: 8.8px;
    bottom: 8.8px;}
  90% {right: 8px;
    bottom: 8px;}
  93% {right: 7px;
    bottom: 7px;}
  96% {right: 6px;
    bottom: 6px;}
  100% {right: 5px;
    bottom: 5px;}
 */
}




/* new_product_item_mobile */
.new_product_item_mobile {
  position: relative;
  width: 100%;
  padding-top: 70px;
  box-sizing: border-box;
  background-color: #eee;
  float: left;
}

.new_product_silck {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.sck {
  position: relative;
  margin: 50px 15px 0;
  width: 60%;
  height: 250px;
  animation: pro1;
  animation-duration: 0.7s;
}

.sck img {
  width: 100%;
  height: auto;
  display: block;
}
.sck p {
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}
.sub_text {
  display: none;
}
.slick-center {
  position: relative;
  margin-top: 70px;
  transition: 0.3s 0.5s;
  scale: 1.5;
}
.slick-center p {
  width: 100%;
  font-size: 8px;
  font-weight: bold;
  color: #000;
  scale: 1;
  margin-top: -5px;
  margin-bottom: -8px;
}
.slick-center .sub_text {
  display: inline-block;
  width: 120%;
  font-size: 8px;
  scale: 1;
  line-height: 15px;
  letter-spacing: -1px;
  color: #888;
  text-align: center;
  margin-left: -11%;
}


@keyframes pro1 {
  0% {opacity: 0;}
  100% {opacity: 0;}
}


.new_product_silck .slick-arrow {
  border: none;
  font-size: 0;
  visibility: hidden;
}
.new_product_silck .slick-prev::after {
/*   width: 45px;
  height: 45px;
  position: absolute;
  z-index: 11;
  top: 100px;
  left: 0px;
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  visibility: visible;
  color: #bbb; */
}
.new_product_silck .slick-next::after {
/*   width: 45px;
  height: 45px;
  position: absolute;
  z-index: 11;
  top: 100px;
  right: 0;   
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  visibility: visible;
  color: #bbb; */
}



/* item_box */
.item_box_tab {
  width: 100%;
  float: left;
  margin: 70px 0 0;
}

.item_label_box {
  position: relative;
  width: 100%;
  height: 30px;
  float: left;
}
.item_label_box label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: 70px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  background-color: #F55050;
  color: #fff;
}

.item_sheet_box {
  width: 100%;
  float: left;
}

.sheet_tap {
  width: 100%;
  height: 310px;
}
.item_item,
.item_item2 {
  position: relative;
  width: 50%;
  height: 150px;
  float: left;
}

.item_item img,
.item_item2 img {
  width: 100%;
  height: auto;
  display: block;
}
.item_item p {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.item_item2 p {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  box-sizing: border-box;
  margin: 0;
}







/* chk_box ----------------------- */
#more_chk1,
#more_chk2,
#more_chk3 {display: none;}

.item_label2,
.item_label3 {display: none;}

.sheet_tap {display: none;}
.item_sheet1 {display: block;}

#more_chk1:checked ~ .item_label_box .item_label2 {
  display: block;
}
#more_chk1:checked ~ .item_label_box .item_label1 {
  display: none;
}
#more_chk1:checked ~ .item_label_box .item_label3 {
  display: none;
}

#more_chk1:checked ~ .item_sheet_box .item_sheet2 {
  display: block;
  animation-name: sheet_ani;
  animation-duration: 0.7s;
}
#more_chk2:checked ~ .item_sheet_box .item_sheet3 {
  display: block;
  animation-name: sheet_ani;
  animation-duration: 0.7s;
}
#more_chk3:checked ~ .item_sheet_box .item_sheet4 {
  display: block;
  animation-name: sheet_ani;
  animation-duration: 0.7s;
}

@keyframes sheet_ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



#more_chk2:checked ~ .item_label_box .item_label3 {
  display: block;
}
#more_chk2:checked ~ .item_label_box .item_label2 {
  display: none;
}
#more_chk2:checked ~ .item_label_box .item_label1 {
  display: none;
}

/*
#chk03:checked ~ .label01 {
  display: block;
}
 */
#more_chk3:checked ~ .item_label3 {
  display: none;
}
#more_chk3:checked ~ .item_label2 {
  display: none;
}
/* chk_box ---- END -- END -- END ---- */






/* max_plant_banner */

.max_plant_banner {
  width: 100%;
  float: left;
}
.max_plant_title {
  height: 80px;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
  margin-top: 60px;
}
.max_plant_title p {
  width: 350px;
  height: 40px;
  margin: 0 auto;
  font-family: 'Oswald';
  font-size: 22px;
  letter-spacing: 2px;
}
.max_plant_title h3 {
  font-size: 12px;
}
.max_plant_box {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.max_plant_box .max_plant_img {
  position: relative;
  width: 100%;
  height: 100%;
  animation-name: maxPlant;
  animation-duration: 12s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  overflow: hidden;
}
.max_plant_text {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.7);
  bottom: 0px;
}

.max_plant_text h4{
  width: 30%;
  height: 40px;
  background-color: rgba(255,255,255,0.2);
  position: absolute;
  right: 2.5%;
  bottom: 10px;
  text-align: center;
  border-radius: 10px;
}
.max_plant_text h4 a{
  display: block;
  color: #fff;
  line-height: 40px;
  font-size: 12px;
}
.max_plant_box .max_plant_img:hover .max_plant_text {
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.max_plant_text h3{
  color: #e0e0e0;
  padding-top: 35px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.8;
  font-weight: bold;
}
.max_plant_text h3{display: none;}
.max_plant_text h5{display: block;}
.max_plant_text h5{
  padding: 20px;
  color: #fff;
  font-weight: normal;

}
.max_plant_text h4 {
  letter-spacing: 1px;
}

.max_plant_text .next{
  margin-left: 20px;
}

@keyframes maxPlant {
  0% {
    background: url(./back_img/maxim\ plant1_1274.jpg) no-repeat;
    background-size: cover;
  }
  20% {
    background: url(./back_img/maxim\ plant2_1274.jpg)  no-repeat;
    background-size: cover;
  }
  40% {
    background: url(./back_img/maxim\ plant3_1274.jpg)  no-repeat;
    background-size: cover;
  }
  60% {
    background: url(./back_img/maxim\ plant4_1274.jpg)  no-repeat;
    background-size: cover;
  }
  80% {
    background: url(./back_img/maxim\ plant5_1274.jpg)  no-repeat;
    background-size: cover;
  }
  100% {
    background: url(./back_img/maxim\ plant1_1274.jpg)  no-repeat;
    background-size: cover;
  }
}

















/* brand_product_banner */
.brand_product_banner{
  position: relative;
  width: 100%;
  height: 900px;
  margin-top: 20px;
  float: left;
}
.brand_product_banner p {
  color: #eee;
}
.brand_product_box {
  width: 100%; /* 8칼럼+7여백 */
  height: 400px;
  margin: 0 auto;
}
.brand_label_box label {
  height: 30px;
  font-family: 'NotoSansKR';
  font-size: 11px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}
.brand_label1 {
  margin-left: 5%;
}
.brand_label7 {
  margin-left: 0.5%;
}
.brd_sht {
  display: none;
}
.brd_sht img {
  width: 100%;
  height: auto;
  display: block;
}

.brand_product_box input {
  display: none;
}

#brand_chk1:checked ~ .brand_sheet1 {
  display: block;
  background: url(./back_img/brand_back1_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk2:checked ~ .brand_sheet2 {
  display: block;
  background: url(./back_img/brand_back2_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk3:checked ~ .brand_sheet3 {
  display: block;
  background: url(./back_img/brand_back3_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk4:checked ~ .brand_sheet4 {
  display: block;
  background: url(./back_img/brand_back4_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk5:checked ~ .brand_sheet5 {
  display: block;
  background: url(./back_img/brand_back5_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk6:checked ~ .brand_sheet6 {
  display: block;
  background: url(./back_img/brand_back6_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk7:checked ~ .brand_sheet7 {
  display: block;
  background: url(./back_img/brand_back7_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk8:checked ~ .brand_sheet8 {
  display: block;
  background: url(./back_img/brand_back8_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk9:checked ~ .brand_sheet9 {
  display: block;
  background: url(./back_img/brand_back9_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk10:checked ~ .brand_sheet10 {
  display: block;
  background: url(./back_img/brand_back10_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk11:checked ~ .brand_sheet11 {
  display: block;
  background: url(./back_img/brand_back11_mobile.jpg) no-repeat;
  background-size: cover;
}
#brand_chk12:checked ~ .brand_sheet12 {
  display: block;
  background: url(./back_img/brand_back12_mobile.jpg) no-repeat;
  background-size: cover;
}
.brd_sht {
  width: 100%;
  height: 900px;
  font-weight: bold;
}
.brand_logo img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.brand_logo {
  padding-top: 100px;
  width: 300px;
  height: 250px;
  margin: 0 auto;
}
.brand_starbucks_logo img,
.brand_top_logo img,
.brand_maxWell_logo img,
.brand_post_logo img {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
}
.brand_oreo_logo img {
  padding-top: 20px;
}
.brand_label_box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100px;
  line-height: 35px;
  margin: 0 auto;
  padding-top: 15px;
  background-color: rgba(255, 84, 84, 0.428);
  color: #fff;
}
.brand_label_box label {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.brand_label_box label:hover {
  color: #fff;
  background-color: #F55050;
  border-radius: 5px;
  font-size: 12px;
}
.brand_box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.brand_img img {
  width: 100%;
  height: auto;
  display: block;
}
.brand_img {
  position: relative;
  width: 110px;
  height: 240px;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 10px;
  float: left;
}

.brand_txt {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50px;
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
}











/* CF_banner */
.CF_banner {
  width: 100%;
  background-color: #eee;
  float: left;
}

.CF_box1, .CF_box2 {
  width: 100%;
  margin-bottom: 15px;
}












/* news_banner */
.news_banner {
  width: 100%;
  margin-bottom: 30px;
  float: left;
}




.news_logo_img {
  width: 48%;
  height: 176px;
  margin-right: 4%;
  float: left;
}
.news_logo_img img {
  width: 100%;
  height: auto;
  display: block;
}
.news_text {
  width: 48%;
  height: 176px;
  padding: 20px 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  float: right;
}
.news_text li{
  height: 19px;
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 7px;
}
.news_text li:nth-child(1) {
  padding-top: 5px;
}



/* bottom_banner */
.btn_banner {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 15px;
  overflow: hidden;
}
.btn_banner p {
border-bottom: none;
}
.btn_box img {
  width: 100%;
  height: auto;
  display: block;
}
.btn_box {
  width: 100%;
  height: 150px;
}
.contribute_title,
.history_title,
.magazine_title,
.food_safety_title {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.275);
  text-align: center;
  color: #fff;
  line-height: 35px;
}
.contribute_title p,
.history_title p,
.magazine_title p,
.food_safety_title p {
  margin-bottom: 0;
  margin-top: 0;
}


.bottom_banner .tit a {
  font-size: 14px;
  color: #fff;
  font-family: 'NotoSansKR';
  display: block;
}


/* footer */
.footer_box {
  position: relative;
  width: 100%;
  height: 250px;
  float: left;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: 15px;
}
.foot_top {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.foot_top_txt {
  display: flex;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ccc;
}

.foot_chkbox {
  position: relative;
  width: 30%;
  height: 115px;
  float: right;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 1%;
}
.foot_top_txt li {
  font-size: 12px;
  text-align: center;
}
.foot_top_txt li:hover {
  scale: 1.03;
  font-weight: bold;
}
.foot_top_txt li:first-child a {
  color: red;
}
.foot_top_txt li:nth-child(2),
.foot_top_txt li:nth-child(4) {
  height: 10px;
  border-right: 1px solid #000;
  margin: 1% 2%;
}
.foot_top_txt li:nth-child(1) {
  width: 30%;
  color: red;
  margin-bottom: 15px;
}
.foot_top_txt li:nth-child(3) {
  width: 15%;
  margin-bottom: 15px;
}
.foot_top_txt li:nth-child(5) {
  width: 46%;
  margin-right: 0;
  margin-bottom: 15px;
}


.label_brand,
.label_familty,
.label_community {
  width: 100%;
  height: 30px;
  padding: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  text-align: center;
  margin-top: 10px;
}

.label_community {
  margin-right: 0;
}
.label_brand {
  margin-top: 0;
}

.site_box {
  position: relative;
  width: 102%;
  height: 196px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 0px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.site_box li a {
  display: block;
  color: #777;
}
.site_box li {
  padding: 16px 0;
}

.site_box li:last-child {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  color: #777;
}

#brand_chk,
#family_chk,
#commuity_chk {
  display: none;
}

#brand_chk:checked ~ .brand_site {
  display: block;
}
#brand_chk ~ .brand_site {
  display: none;
}

#family_chk:checked ~ .family_site {
  display: block;
}
#family_chk ~ .family_site {
  display: none;
}

#commuity_chk:checked ~ .community_site {
  display: block;
}
#commuity_chk ~ .community_site {
  display: none;
}
.foot_text_box {
  position: absolute;
  top: 45px;
  width: 68%;
  height: 200px;
  margin-right: 1%;
  float: left;
  font-size: 12px;
  padding: 2%;
  box-sizing: border-box;
}

.foot_text_box ul li:nth-child(3),
.foot_text_box ul li:nth-child(7) {
  display: none;
}

.foot_text_box ul li:first-child {
  padding-top: 0;
}
.foot_text_box ul li:nth-child(4),
.foot_text_box ul li:nth-child(5) {
  font-size: 16px;
  font-weight: bold;
}

.foot_text_box ul li {
  padding: 5px 0;
}


/* MEDIA ================================== */
/* MEDIA ================================== */


