* {padding: 0; margin: 0;}
li {list-style: none;}
a {text-decoration: none;
color: black;}

/* ********************************* */


/* font-family: 'NotoSansKR'; */
/* font-family: 'Anton'; */

body, html {width: 100%;}
.nav_PC {display: none;}
.item_banner_tab1 {display: none;}
.max_plant_logo_tab {display: none;}
.max_plant_href_tab {display: none;}
.contribute_box_tab {display: none;}
.logo_img img:nth-child(2) {display: none;}
.news_text li:nth-child(8) {display: none;}
.news_text li:nth-child(9) {display: none;}
.news_text li:last-child {display: none;}
.nav_PC {display: none;}
.gnb_mobile{ display: block;}
.gnb_PC {display: none;}
.item_hover {display: none;}
.CF_box3, .CF_box4{display: none;}


/* header ======================= */
.header {
  position: relative;
  width: 100%;
  height: 115px;
  margin-bottom: 15px;
  font-family: 'NotoSansKR';
}


/* title ======================= */
.title p {
  width: 100%;
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  font-family: 'NotoSansKR';
}
.new_product_title_mobile p {
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Anton';
  font-size: 30px;
  letter-spacing: 4px;
}
.new_product_title_mobile h5 {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'NotoSansKR';
  text-align: center;
  font-weight: normal;
}
.max_plant_title p {
  width: 225px;
  height: 40px;
  margin: 0 auto;
  font-size: 28px;
  font-family: 'Anton';
  letter-spacing: 3px;
}
.item_box_title {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.item_box_title p {
  width: 220px;
  margin: 0 auto;
  font-family: "Font Awesome 5 Free";
  padding-bottom: 10px;
  font-size: 25px;
  font-family: 'Anton';
  letter-spacing: 3px;
  text-align: center;
}
.item_box_title h3,
.max_plant_title h3,
.CF_title h3 {
  width: 220px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
.max_plant_title h3,
.CF_title h3 {
  margin-bottom: 25px;
  font-weight: normal;
}

.CF_title {
  position: relative;
}

.CF_title p {
  width: 120px;
  height: 40px;
  margin: 20px auto 0;
  font-family: 'Anton';
  letter-spacing: 3px;
}
.CF_title i{
  background-color: lightyellow;
}
.news_title {
  width: 100%;
  height: 40px;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-bottom: 15px;
}
.news_title p {
  width: 170px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Anton';
  letter-spacing: 3px;
}

.news_title i {
  color: red;
  background-color: yellow;
  border-radius: 50%;
}






/* more_bttn ======================= */
.more_bttn {
  position: absolute;
  right: 15px;
  top: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}
.more_bttn a{
  display: block;
  font-weight: bold;
  font-size: 10px;
}


.item_more {
  right: 15px;
  top: 5px;
  font-size: 10px;
}
.news_more {
  top: 5px;
}



/* gnb */
.gnb {
  position: absolute;
  z-index: 500;           /* z-index: 500; */
  right: 0;
  top: 0;
  width: 125px;
  height: 30px;
  float: left;
  background-color: #eee;
  font-size: 10px;
  line-height: 30px;
  border-radius: 5px;
  padding: 4px;
  box-sizing: border-box;
  float: left;
}
.gnb a {
  display: block;
}
.gnb_bar {
  width: 2%;
  height: 20px;
  border-right: 1px solid #bbb;
  box-sizing: border-box;
  float: left;
}
.gnb_top {
  width: 49%;
  height: 25px;
  line-height: 25px;
  float: left;
  text-align: center;
}
.login_box {
  border-right: 1px solid #eee;
  box-sizing: border-box;
}


/* logo */
.logo {
  width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 400;           /* z-index: 400; */
}
.logo_img {
  width: 140px;
  height: 115px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
  height: auto;
  display: block;
}




/* nav_mobile ======================= */
#mobile_menu_chk {display: none;}

#mobile_menu_chk:checked ~ .label_ham1 {
  display: none;
}
#mobile_menu_chk:checked ~ .label_ham2 {
  display: block;
}

#mobile_menu_chk ~ .label_ham2 {
  display: none;
}
#mobile_menu_chk ~ .label_ham1 {
  display: block;
}

#mobile_menu_chk:checked ~ .ham_menu_sheet1 {
  display: block;
}
#mobile_menu_chk ~ .ham_menu_sheet1 {
  display: none;
}
.ham_menu_sheet1:checked {display: none;}



.nav_mobile {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ham_logo {
  width: 60px;
  height: 60px;
  margin: 8px auto 30px;
}
.ham_logo img {
  width: 100%;
  height: auto;
  display: block;
}
.la_hm {
  text-align: left;
  font-size: 28px;
  margin-left: 15px;
  margin-top: 60px;
}
.ham_menu_sheet {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 845px;
  background-color: rgba(255, 255, 255, 0.99);
  box-sizing: border-box;
}

.ham_menu {
  width: 100%;
  height: 60px;
  font-weight: bold;
  line-height: 65px;
  float: left;
}
.ham_menu span {
  width: 50%;
  padding-left: 30px;
  box-sizing: border-box;
  float: left;
}
.span_2 {
  text-align: right;
  padding-right: 30px;
  box-sizing: border-box;
}

.ham_X {
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0;
  border: 0;
  background-color:transparent;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  border-bottom: 1px solid #ccc;
  padding-right: 15px;
  box-sizing: border-box;
}

.ham_foot {
  position: absolute;
  left: 3%;
  bottom: 20%;
  width: 57%;
  height: 140px;
  margin-top: 20px;
}

.ham_sns {
  position: absolute;
  right: 0;
  bottom: 20%;
  width: 40%;
  height: 140px;
  float: right;
  line-height: 20px;
  border-left: 1px solid #ccc;
  padding-left: 4%;
  box-sizing: border-box;
}
.ham_sns h3 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  padding-left: 20px;
  box-sizing: border-box;
}
.ham_sns_total {
  width: 25%;
  float: left;
  padding: 2%;
  padding-bottom: 15px;
}
.ham_sns_total img {
  width: 100%;
  height: auto;
  display: block;
} 
.ham_foot li {
  font-size: 12px;
  line-height: 25px;
}
.ham_foot li:nth-child(1),
.ham_foot li:nth-child(2) {
  font-size: 16px;
  }
.ham_foot li:nth-child(2) {
  margin-bottom: 15px;
}

.span_bttn{
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.ham_box_box {
  width: 100%;
  height: 50px;
  float: left;
  margin-top: 310px;
  border-top: 1px solid #ccc;
}
.ham_box_box p {
  padding: 30px 15px;
  line-height: 30px;
  box-sizing: border-box;
}








/* visual_main */
.visual_main {
  width: 100%;
  height: 220px;
  margin-bottom: 40px;
  float: left;
}
.visual_main_box video {
  width: 100%;
  height: auto;
  display: block;
}






/* new_product_item_mobile */
.new_product_item_mobile {
  position: relative;
  width: 100%;
  float: left;
}

.new_product_silck {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.sck {
  margin: 50px 15px 0;
  width: 60%;
  height: 250px;
  animation: pro1;
  animation-duration: 0.7s;
}

.sck img {
  width: 100%;
  height: auto;
  display: block;
}
.sck p {
  text-align: center;
}
.sck p {font-size: 0;}
.slick-center {
  margin-top: 90px;
  transition: 0.3s 0.5s;
  scale: 1.7;
}
.slick-center p {
  font-size: 10px;
  font-weight: bold;
  color: red;
}

@keyframes pro1 {
  0% {opacity: 0;}
  100% {opacity: 0;}
}


.new_product_silck .slick-arrow {
  border: none;
  font-size: 0;
  visibility: hidden;
}
.new_product_silck .slick-prev::after {
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 11;
  top: 100px;
  left: 0px;
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  visibility: visible;
}
.new_product_silck .slick-next::after {
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 11;
  top: 100px;
  right: 0;   
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  visibility: visible;
}



/* item_box */
.item_box_tab {
  width: 100%;
  float: left;
  margin: 30px 0;
}

.item_label_box {
  position: relative;
  width: 100%;
  height: 30px;
  float: left;
}
.item_label_box label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: 70px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  background-color: #eee;
}

.item_sheet_box {
  width: 100%;
  float: left;
}

.sheet_tap {
  width: 100%;
  height: 310px;
  float: left;
}
.item_item,
.item_item2 {
  position: relative;
  width: 50%;
  height: 150px;
  float: left;
}

.item_item img,
.item_item2 img {
  width: 100%;
  height: auto;
  display: block;
}
.item_item p {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.item_item2 p {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  box-sizing: border-box;
  margin: 0;
}







/* chk_box ----------------------- */
#more_chk1,
#more_chk2,
#more_chk3 {display: none;}

.item_label2,
.item_label3 {display: none;}

.sheet_tap {display: none;}
.item_sheet1 {display: block;}

#more_chk1:checked ~ .item_label_box .item_label2 {
  display: block;
}
#more_chk1:checked ~ .item_label_box .item_label1 {
  display: none;
}
#more_chk1:checked ~ .item_label_box .item_label3 {
  display: none;
}

#more_chk1:checked ~ .item_sheet_box .item_sheet2 {
  display: block;
  animation-name: sheet_ani;
  animation-duration: 0.7s;
}
#more_chk2:checked ~ .item_sheet_box .item_sheet3 {
  display: block;
  animation-name: sheet_ani;
  animation-duration: 0.7s;
}
#more_chk3:checked ~ .item_sheet_box .item_sheet4 {
  display: block;
  animation-name: sheet_ani;
  animation-duration: 0.7s;
}

@keyframes sheet_ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



#more_chk2:checked ~ .item_label_box .item_label3 {
  display: block;
}
#more_chk2:checked ~ .item_label_box .item_label2 {
  display: none;
}
#more_chk2:checked ~ .item_label_box .item_label1 {
  display: none;
}

/*
#chk03:checked ~ .label01 {
  display: block;
}
 */
#more_chk3:checked ~ .item_label3 {
  display: none;
}
#more_chk3:checked ~ .item_label2 {
  display: none;
}
/* chk_box ---- END -- END -- END ---- */






/* max_plant_banner */
.max_plant_banner {
  width: 100%;
  float: left;
}
.max_plant_img {
  width: 100%;
  height: 200px;
  padding: 1%;
  box-sizing: border-box;
  float: left;
  animation: ani-flant;
  animation-duration: 20s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  background-size: cover;
}
.max_plant_img img {
  width: 100%;
  display: block;
}


@keyframes ani-flant {
  0% {background: url(./back_img/maxim\ plant1_mobile.jpg) no-repeat;}
  20% {background: url(./back_img/maxim\ plant2_mobile.jpg) no-repeat;}
  40% {background: url(./back_img/maxim\ plant3_mobile.jpg) no-repeat;
  }
  60% {background: url(./back_img/maxim\ plant4_mobile.jpg) no-repeat;}
  80% {background: url(./back_img/maxim\ plant5_mobile.jpg) no-repeat;}
  100% {background: url(./back_img/maxim\ plant1_mobile.jpg) no-repeat;}
}

@keyframes ani-flant_tab {
  0% {background: url(./back_img/maxim\ plant1_tab.jpg) no-repeat;}
  20% {background: url(./back_img/maxim\ plant2_tab.jpg) no-repeat;}
  40% {background: url(./back_img/maxim\ plant3_tab.jpg) no-repeat;
  }
  60% {background: url(./back_img/maxim\ plant4_tab.jpg) no-repeat;}
  80% {background: url(./back_img/maxim\ plant5_tab.jpg) no-repeat;}
  100% {background: url(./back_img/maxim\ plant1_tab.jpg) no-repeat;}
}

/* max_plant_banner */
.max_plant_banner {
  float: left;
  height: 400px;
  margin-bottom: 20px;
}

.max_plant_logo,
.max_plant_href {
  position: relative;
  margin-top: 5px;
  width: 50%;
  float: left;
}
.max_plant_logo img,
.max_plant_href img {
  width: 100%;
  height: auto;
  display: block;
}

.max_plant_href p {
  position: absolute;
  left: 15px;
  bottom: 35px;
  width: 90%;
  height: 50px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}




/* CF_banner */
.CF_banner {
  width: 100%;
  float: left;
}

.CF_box1, .CF_box2 {
  width: 100%;
  margin-bottom: 15px;
}








/* news_banner */
.news_banner {
  width: 100%;
  margin-bottom: 30px;
  float: left;
}




.news_logo_img {
  width: 48%;
  height: 176px;
  margin-right: 4%;
  float: left;
}
.news_logo_img img {
  width: 100%;
  height: auto;
  display: block;
}
.news_text {
  width: 48%;
  height: 176px;
  padding: 20px 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  float: right;
}
.news_text li{
  height: 19px;
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 7px;
}
.news_text li:nth-child(1) {
  padding-top: 5px;
}



/* bottom_banner */
.btn_banner {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 15px;
  overflow: hidden;
}
.btn_banner p {
border-bottom: none;
}
.btn_box img {
  width: 100%;
  height: auto;
  display: block;
}
.btn_box {
  width: 100%;
  height: 150px;
}
.contribute_title,
.history_title,
.magazine_title,
.food_safety_title {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.275);
  text-align: center;
  color: #fff;
  line-height: 30px;
}
.contribute_title p,
.history_title p,
.magazine_title p,
.food_safety_title p {
  margin-bottom: 0;
  margin-top: 0;
}


.bottom_banner .tit a {
  font-size: 14px;
  color: #fff;
  font-family: 'NotoSansKR';
  display: block;
}


/* footer */
.footer {
  position: relative;
  width: 100%;
  height: 250px;
  float: left;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: 15px;
}
.foot_top {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.foot_top_txt {
  display: flex;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ccc;
}

.foot_chkbox {
  position: relative;
  width: 30%;
  height: 115px;
  float: right;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 1%;
}
.foot_top_txt li {
  font-size: 12px;
  text-align: center;
}
.foot_top_txt li:first-child a {
  color: red;
}
.foot_top_txt li:nth-child(2),
.foot_top_txt li:nth-child(4) {
  height: 10px;
  border-right: 1px solid #000;
  margin: 1% 2%;
}
.foot_top_txt li:nth-child(1) {
  width: 30%;
  color: red;
  margin-bottom: 15px;
}
.foot_top_txt li:nth-child(3) {
  width: 15%;
  margin-bottom: 15px;
}
.foot_top_txt li:nth-child(5) {
  width: 46%;
  margin-right: 0;
  margin-bottom: 15px;
}

.label_brand,
.label_familty,
.label_community {
  width: 100%;
  height: 30px;
  padding: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  text-align: center;
  margin-top: 10px;
}
.label_community {
  margin-right: 0;
}
.label_brand {
  margin-top: 0;
}

.site_box {
  position: relative;
  width: 103%;
  height: 210px;
  background-color: rgba(0, 0, 0, 0.959);
  position: absolute;
  top: -10px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.site_box li a {
  display: block;
  color: #fff;
}
.site_box li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.site_box li:last-child {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  color: #fff;
}

#brand_chk,
#family_chk,
#commuity_chk {
  display: none;
}

#brand_chk:checked ~ .brand_site {
  display: block;
}
#brand_chk ~ .brand_site {
  display: none;
}

#family_chk:checked ~ .family_site {
  display: block;
}
#family_chk ~ .family_site {
  display: none;
}

#commuity_chk:checked ~ .community_site {
  display: block;
}
#commuity_chk ~ .community_site {
  display: none;
}
.foot_text_box {
  position: absolute;
  top: 45px;
  width: 68%;
  height: 200px;
  margin-right: 1%;
  float: left;
  font-size: 12px;
  padding: 2%;
  box-sizing: border-box;
}

.foot_text_box ul li:nth-child(3),
.foot_text_box ul li:nth-child(7) {
  display: none;
}

.foot_text_box ul li:first-child {
  padding-top: 0;
}
.foot_text_box ul li:nth-child(4),
.foot_text_box ul li:nth-child(5) {
  font-size: 16px;
  font-weight: bold;
}

.foot_text_box ul li {
  padding: 5px 0;
}



.div1 {
  width: 100%;
}

.div11 {
  width: 390px; 
  height: 200px;
  margin: 0 auto;
}

.div11 img {
  width: 100%;
  height: auto;
  display: block;
}


/* MEDIA ================================== */
/* MEDIA ================================== */


@media all and (min-width:601px) {
  .logo_img img:nth-child(1) {display: none;}
  .logo_img img:nth-child(2) {display: block;}
  .item_banner_mobile1 {display: none;}
  .item_banner_mobile1 {display: none;}
  .max_plant_logo,
  .max_plant_href {display: none;}
  .contribute_box {display: none;}
  .contribute_box_tab {display: block;}
  .max_plant_logo_tab {display: block;}
  .max_plant_href_tab {display: block;}
  .item_banner_tab1 {display: block;}
  .news_text li:nth-child(8) {display: block;}
  .CF_box3, .CF_box4{display: block;}


  .logo {width: 200px; padding-top: 15px;}

  .item_more,
  .more_bttn {
    top: 15px;
    right: 30px;
    border: 1px solid #aaa;
  }
  .news_more {
    top: 5px;
    right: 15px;
  }
  .title p {font-size: 32px;}
  .tltle h3 {font-size: 14px;}
  .new_product_title_mobile p {
    width: 220px;
    height: 60px;
  }
  .max_plant_title p {
    width: 250px;
    height: 60px;
  }
  .max_plant_title,
  .CF_title p {
    margin: 50px auto 0;
  }
  .CF_title p {
    width: 140px;
    height: 60px;
  }
  .CF_banner,
  .visual_main,
  .new_product_item_mobile {
    margin-bottom: 100px;
  }
  .news_banner,
  .contribute_banner {
    margin-bottom: 30px;
  }
  .news_title p {
    width: 185px;
  }
  .bottom_banner .tit {
    margin-top: 22px;
  }

  .ham_logo {
    width: 100px;
    height: 100px;
  }
  .ham_X {
    font-size: 50px;
    padding-right: 20px;
    margin-top: 10px;
    top: 0;
  }

  .ham_menu_sheet {
    width: 100%;
    height: 1185px;
  }
  .ham_menu {
    height: 120px;
    line-height: 120px;
  }
  .ham_menu span {
    font-size: 26px;
  }
  .ham_1 {
    padding-top: 20px;
  }
  .span_bttn {
    padding-bottom: 10px;
  }
  .la_hm {
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .ham_foot {
    height: 180px;
    bottom: 14%;
  }
  .ham_foot li {
    font-size: 16px;
    line-height: 30px;
  }
  .ham_sns {
    height: 220px;
    bottom: 13%;
  }
  .visual_main {
    height: 465px;
  }
  .gnb {
    width: 180px;
    top: 0;
  }
  .new_product_silck .slick-next::after,
  .new_product_silck .slick-prev::after {
    top: 240px;
  }
  .new_product_silck {
    height: 550px;
  }
  .sck {
    height: 450px;
  }
  .sck p {font-size: 16px;}
  .sck {
    margin-top: 100px;
    font-size: 16px;
    font-weight: bold;
    color: red;
  }
  .slick-center {margin-top: 150px;}
  .max_plant_banner {
    height: 550px;
    margin: 60px 0 100px;
  }
  .max_plant_img {
    width: 70%;
    height: 400px;
  }
  .max_plant_img {
    margin-right: 2%;
    animation: ani-flant_tab;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
  .max_plant_logo, .max_plant_href {
    width: 28%;
    height: 200px;
  }

  .max_plant_logo_tab img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .max_plant_logo_tab{
  position: relative;
  width: 28%;
  height: 200px;
  float: left;
  }

  .max_plant_href_tab {
    position: relative;
    width: 28%;
    height: 200px;
    float: left;
  }
  .max_plant_href_tab img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .max_plant_href_tab p {
    position: absolute;
    left: 15px;
    bottom: 50px;
    width: 90%;
    height: 100px;
    line-height: 30px;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
  }
  .CF_box1 iframe,
  .CF_box2 iframe {
    height: 228px;
  }
  .CF_box1,
  .CF_box2,
  .CF_box3,
  .CF_box4 {
    width: 49.5%;
    float: left;
    margin-right: 1%;
    margin-bottom: 5px;
  }
  .CF_box2,
  .CF_box4 {
    margin-right: 0;
  }
  .bottom_banner_box1_3 {
    width: 100%;
  }
  .news_banner {
    width: 49%;
    margin-right: 2%;
    height: 285px;
  }
  .contribute_banner {
    width: 49%;
    height: 285px;
  }

  .contribute_box_tab img {
    width: 100%;
    height: auto;
    display: block;
  }
  .contribute_title {
    line-height: 35px;
  }
  .history_banner,
  .magazine_banner {
    width: 49%;
    float: left;
  }
  .history_banner {
    margin-right: 2%;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .foot_top {
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 15px;
  }

  .foot_top_txt {
    width: 50%;
    order: 1;
    padding: 5px 0;
    box-sizing: border-box;
    border-bottom: none;
  }
  .foot_text_box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    order: 3;
  }
  .foot_chkbox {
    width: 50%;
    height: 30px;
    margin: 0;
    order: 2;
  }
  .label_brand, .label_familty, .label_community{
    width: 30%;
    margin: 0;
    margin-right: 2%;
  }
  .label_brand {
    margin-left: 4%;
  }


  .site_box {
    width: 100%;
    height: 190px;
    font-size: 18px;
    left: 7px;
    bottom: 0;
    background-color: #222;
  }
  .site_box li:last-child, .site_box li:last-child {
    right: 15px;
  }
  .foot_text_box ul li {
    padding: 0;
  }
  .foot_text_box ul li:nth-child(1),
  .foot_text_box ul li:nth-child(2) {
    width: 100%;
    height: 30px;
  }
  .foot_text_box ul li:nth-child(2) {
  }
  .foot_text_box ul li:nth-child(3),
  .foot_text_box ul li:nth-child(7) {
  display: block;
  }
  .foot_text_box ul li:nth-child(4) {
    margin-top: 10px;
  }
  .foot_text_box ul li:nth-child(5) {
    margin-bottom: 10px;
  }
  .foot_text_box ul li:nth-child(2),
  .foot_text_box ul li:nth-child(6) {
    display: none;
  }


  .item_label_box {
    margin-top: 30px;
  }
  .item_sheet1 {display: block;}
  .item_sheet2 {display: block;}

  .item_box_title {
    width: 100%;
    margin-bottom: 50px;
  }
  .item_box_title p {
    width: 235px;
    padding-bottom: 25px;
  }
  .sheet_tap {
    width: 100%;
    height: 150px;
  }
  .item_item,
  .item_item2 {
    position: relative;
    width: 25%;
    height: 145px;
  }

  #more_chk1:checked ~ .item_label_box .item_label2 {
    display: none;
  }
  #more_chk1:checked ~ .item_label_box .item_label1 {
    display: none;
  }
  #more_chk1:checked ~ .item_label_box .item_label3 {
    display: none;
  }


  #more_chk1:checked ~ .item_sheet_box .item_sheet2 {
    animation: sheet_ani;
    animation-duration: 0s;
  }
  #more_chk1:checked ~ .item_sheet_box .item_sheet3 {
    display: block;
    animation-name: sheet_ani;
    animation-duration: 0.7s;
  }
  #more_chk1:checked ~ .item_sheet_box .item_sheet4 {
    display: block;
    animation-name: sheet_ani;
    animation-duration: 0.7s;
  }
  #more_chk3:checked ~ .item_sheet_box .item_sheet4 {
    display: none;
    animation-name: sheet_ani;
    animation-duration: 0.7s;
  }


  #more_chk2:checked ~ .item_label_box .item_label3 {
    display: none;
  }
  #more_chk2:checked ~ .item_label_box .item_label2 {
    display: none;
  }
  #more_chk2:checked ~ .item_label_box .item_label1 {
    display: none;
  }
  
  /*
  #chk03:checked ~ .label01 {
    display: block;
  }
   */
  #more_chk3:checked ~ .item_label3 {
    display: none;
  }
  #more_chk3:checked ~ .item_label3 {
    display: none;
  }
  #more_chk3:checked ~ .item_label2 {
    display: none;
  }
/* item_banner_tab1 */
}









@media all and (min-width:1024px) {
  .news_text li:nth-child(8) {display: block;}
  .news_text li:nth-child(9) {display: block;}
  .nav_mobile {
    display: none;
  }
  .item_hover {
    display: block;
  }
  .CF_box3, .CF_box4{display: block;}
  .gnb_mobile{ display: none;}
  .gnb_PC {display: block;}
  .logo {
    width: 300px;
    height: 200px;
  }
  .logo_img {
    width: 300px;
    height: 200px;
  }
  .header {
    height: 265px;
  }
  .nav_PC a {
    font-size: 18px;
    font-weight: bold;
  }
  .nav_PC {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  .pc_menu {
    position: relative;
    width: 100%;
    height: 50px;
    color: #000; 
  }
  .pc_menu ul {
    display: flex;
    justify-content: center;
  }
  .pc_menu ul li {
    display: flex;
    justify-content: space-around;
    width: 254.8px;
    height: 50px;
    line-height: 55px;
    text-align: center;
  }











  .menu_sht {
    position: absolute;
    z-index: 11;
    top: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: #fff;
    visibility: hidden;
  }
  .menu_sht a {
  font-size: 16px;
  font-weight: normal;
  }


  .pc_menu ul li:nth-child(1):hover .menu_sheet1,
  .pc_menu ul li:nth-child(2):hover .menu_sheet2,
  .pc_menu ul li:nth-child(3):hover .menu_sheet3,
  .pc_menu ul li:nth-child(4):hover .menu_sheet4,
  .pc_menu ul li:nth-child(5):hover .menu_sheet5{
    visibility: visible;
  }
  .menu_sht ul li:hover a {
    border-bottom: 2px solid red;
  }

/*   @keyframes full_dows {
    0% {visibility: visible;}
    100% {visibility: visible;}
  } */



  .menu_sht ul{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 400px;
    height: 270px;
    border-left: 1px solid #bbb;
  }

  .menu_sht ul li{
    display: flex;
    justify-content: flex-start;
    width: 400px;
    height: 40px;
    line-height: 45px;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
  }

  .menu_sheet3 .menu_ul3_1,
  .menu_sheet4 .menu_ul4_1 {
    width: 200px;
  }
  .menu_sheet3 .menu_ul3_2,
  .menu_sheet4 .menu_ul4_2 {
    width: 200px;
    border: none;
  }



  .menu_sht_img {
    display: flex;
    justify-content: space-around;
    width: 487px;
    height: 170px;

  }
  .menu_sht_img h1 {
    width: 200px;
    height: 170px;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    font-size: 35px;
    font-family: 'Anton';
    letter-spacing: 3px;
  }




  .menu_sht_img_box {
    width: 200px;
    height: 170px;
    margin-top: 60px;
  }

  .menu_sht_img_box img {
    width: 100%;
    height: auto;
  }
  .menu_sheet1_img_box,
  .menu_sheet2_img_box {
    margin-top: 100px;
  }
  .menu_sheet5_img_box {
    margin-top: 5px;
  }



  .menu_sht_eve {
    width: 387px;
    height: 270px;
  }
  .menu_sht_eve_box {
    width: 207px;
    height: 270px;
    margin: 0 auto;
  }
  .menu_sht_eve_box img {
    width: 100%;
    height: auto;
  }

  .visual_main {
    width: 100%;
    height: 720px;
  }
  .visual_main_box {
    width: 1274px;
    height: 720px;
    margin: 0 auto;
    background-color: pink;
  }
  .new_product_item_mobile_box {
    width: 1274px;
    height: 1000px;
    margin: 0 auto;
  }
  .new_product_silck {
    height: 1000px;
  }
  .slick-list {
    height: 800px;
  }
  .gnb {
    position: absolute;
    top: 0;
    right: 0;
  }
  .logo {
    width: 1274px;
  }
  .new_product_silck .slick-prev::after,
  .new_product_silck .slick-next::after {
    top: 340px;
  }

  .item_box_tab {
    width: 100%;
  }
  .item_box_PC_outer {
    width: 1274px;
    margin: 0 auto;
  }
  .sheet_tap {
    height: 280px;
  }





  .item_item,
  .item_item2 {
    position: relative;
    width: 318.5px;
    height: 215px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
  }
  .item_item:hover .item_hover,
  .item_item2:hover .item_hover {
    top: 0;
    transition: 0.3s;
  }
  .item_item p,
  .item_item2 p {
    font-size: 18px;
    height: 80px;
    line-height: 80px;
    top: 50%;
    transform: translateY(-50%);
  }
  .item_item2 p {
    line-height: 25px;
    padding-top: 15px;
  }

  .item_hover {
    position: absolute;
    left: 0;
    top: -100%;
    width: 318.5px;
    height: 215px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .item_hover p {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    line-height: 20px;
    margin-top: 60px;
    font-size: 14px;
    font-weight: bold;
  }
  .MaximSingle1_hover,
  .MaximSingle2_hover {
    padding: 0;
  }
  .item_hover ul li:nth-child(1) {
    margin-top: 20px;
  }
  .item_hover ul li {
    text-align: center;
  }




  .item_hover h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-align: center;
  }
  .item_hover h2:hover {
    line-height: 40px;
    border: 2px solid red;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .item_hover h2 a {
    display: block;
  }

  .item_label_box label {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
  .max_plant_banner {
    height: 660px;
  }
  .max_plant_banner_box {
    width: 1274px;
    margin: 0 auto;
  }
  .max_plant_img {
    width: 877.8px;
    height: 600px;
    background-size: cover;
  }







  .CF_banner_box {
    width: 1274px;
    margin: 0 auto;
  }
  .CF_box3,
  .CF_box4 {
    width: 49.5%;
    float: left;
    margin-right: 1%;
  }
  .CF_box4 {
    margin-right: 0;
  }
  .CF_box iframe{
    height: 355px;
  }
  .news_banner,
  .btn_banner {
    width: 629.5px;
    height: 330px;
    margin-right: 15px;
  }
  .contribute_banner {
    margin-right: 0;
  }
  .bottom_banner {
    width: 100%;
  }
  .bottom_banner_box1 {
    width: 1274px;
    height: 500px;
    margin: 0 auto;
  }
  .news_logo_img {
    width: 250px;
    margin-right: 10px;
    float: left;
  }
  .news_text {
    width: 369.5px;
  }
  .history_banner,
  .magazine_banner,
  .food_safety_banner {
    width: 414.6666px;
    height: 330px;
    margin-right: 10px;
  }
  .food_safety_banner {
    margin-right: 0;
  }
  .history_title,
  .magazine_title,
  .food_safety_title {
    line-height: 35px;
  }


  /* MAXIM PLANT */
  /* 이미지 수정해야함. */
  /* 나머지 박스 2개 width 376.2px */

  /* HISTORY, MAGAZINE, FOOD SATETY */
  /* 영역에 맞게 이미지 수정해야함 */

  /* FOOTER CHECK박스 영역 백그라운드 빼기 */
  
  /* TITLE 글자 크기 수정해야함. */
}